name: Lint Code

on:
  push:
    branches: [ "main", "master", "develop" ]
  pull_request:
    branches: [ "main", "master", "develop" ]

jobs:
  lint:
    name: Check code formatting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"  # Кэшируем зависимости для ускорения

      - name: Install Black and isort
        run: |
          python -m pip install --upgrade pip
          pip install black isort

      - name: Run isort check
        run: isort --check --diff .

      - name: Run Black check
        run: black --check --diff .